@tailwind base;
@tailwind components;
@tailwind utilities;

.feature-bg{
    background: url('/img/featurebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
}
.footer-bg{
    background: #101D42;
}

.signup-bg{
    background: linear-gradient(181deg, rgba(224, 203, 168, 0.88) 1.49%, rgba(136, 73, 143, 0.00) 103.15%), linear-gradient(116deg, #88498F 50.45%, #FF6542 100%);}

.signup-right{
    background: #E9F4F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    mix-blend-mode: darken;
}
.bg-dash{
    background: linear-gradient(178deg, #779FA1 29.88%, rgba(136, 73, 143, 0.68) 105.03%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Invitationbg{
    background: radial-gradient(56.02% 56% at 50.84% 50%, rgba(170, 89, 142, 0.77) 0%, rgba(224, 203, 168, 0.77) 100%);
}

.bg-footer{
    background: linear-gradient(224deg, #002ABD 4.54%, #4F66B7 14.52%, rgba(79, 102, 183, 0.56) 29.9%, rgba(79, 102, 183, 0.26) 52.71%, rgba(170, 89, 142, 0.87) 73.01%);
}